body {
    margin: 0;
    padding: 0;  
}

#game-screen {
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}
#startGame, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
}
.title {
   font-size: 62px;
   margin-bottom: 0px;
}

#restartButton {
    border: 2px solid red;
    border-radius: 10px;
}

#replayButton {
    border: 2px solid red;
    border-radius: 200px;
}

#restartButton:hover {
    background-color: #000000;
}

#replayButton:hover {
    background-color: #000000;
}

#scoreboard {
    margin: 0px;
}